<a routerLink="/proudcts/category/Decking">Decking</a> |

<form #formInfo="ngForm">

    <mat-form-field color="warn">
      <input matInput class="input-field" required 
      #userNameInfo="ngModel" [(ngModel)]="user.userName" name="userName" 
      type="text"  placeholder="User Name">
  
    <mat-error *ngIf="userNameInfo.errors?.required && userNameInfo.touched">
       User Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn">
      <input matInput class="input-field" required 
      #firstNameInfo="ngModel" [(ngModel)]="user.firstName" name="firstName" 
      type="text"  placeholder="First Name">
  
    <mat-error *ngIf="firstNameInfo.errors?.required && firstNameInfo.touched">
       First Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn">
      <input matInput class="input-field" required 
      #lastNameInfo="ngModel" [(ngModel)]="user.lastName" name="lastName" 
      type="text"  placeholder="Last Name">
  
    <mat-error *ngIf="lastNameInfo.errors?.required && lastNameInfo.touched">
        Last Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn">
      <input matInput class="input-field" required 
      #passwordInfo="ngModel" [(ngModel)]="user.password" name="password" 
      type="password"  placeholder="Password">
  
    <mat-error *ngIf="passwordInfo.errors?.required && passwordInfo.touched">
        Password Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn">
      <input matInput class="input-field" required 
      #passwordConfirmInfo="ngModel" [(ngModel)]="passwordConfirm" name="passwordConfirm" 
      type="password"  placeholder="Confirm Password">
  
    <mat-error *ngIf="passwordConfirmInfo.errors?.required && passwordConfirmInfo.touched">
        Confirm Password Missing</mat-error>
    </mat-form-field>

      <mat-form-field color="warn">
        <input matInput class="input-field" required 
        #emailInfo="ngModel" [(ngModel)]="user.email" name="email" 
        type="email"  placeholder="Email">
    
      <mat-error *ngIf="emailInfo.errors?.required && emailInfo.touched">
          Email Missing</mat-error>
      </mat-form-field>

      <mat-form-field color="warn">
        <input matInput class="input-field" required 
        #phoneInfo="ngModel" [(ngModel)]="user.phone" name="phone" 
        type="tel"  placeholder="Phone">
    
      <mat-error *ngIf="phoneInfo.errors?.required && phoneInfo.touched">
        Phone Missing</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="warn" 
      [disabled]="formInfo.form.invalid" (click)="userRegisterSubmitForm()">
        Register
      </button>
 
  </form>