<div class="background-body"></div>
<div class="form-container"  fxLayoutAlign="center center"
>
<form #formInfo="ngForm" 
fxLayout.xs="column" fxLayoutAlign="center center"
fxLayout.gt-xs="row wrap" fxLayoutGap.gt-xs="10px"
>
    <h1 fxFlex.gt-xs="100%" class="form-first-h1-register"  fxLayoutAlign.gt-xs="center" >REGISTER</h1>
    <mat-form-field color="warn" fxFlex.gt-xs="40%">
      <input matInput class="input-field" required 
      #userNameInfo="ngModel" [(ngModel)]="user.userName" name="userName" 
      type="text"  placeholder="User Name">
  
    <mat-error *ngIf="userNameInfo.errors?.required && userNameInfo.touched">
       User Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn" fxFlex.gt-xs="40%">
      <input matInput class="input-field" required 
      #firstNameInfo="ngModel" [(ngModel)]="user.firstName" name="firstName" 
      type="text"  placeholder="First Name">
  
    <mat-error *ngIf="firstNameInfo.errors?.required && firstNameInfo.touched">
       First Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn" fxFlex.gt-xs="40%">
      <input matInput class="input-field" required 
      #lastNameInfo="ngModel" [(ngModel)]="user.lastName" name="lastName" 
      type="text"  placeholder="Last Name">
  
    <mat-error *ngIf="lastNameInfo.errors?.required && lastNameInfo.touched">
        Last Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn" fxFlex.gt-xs="40%">
      <input matInput class="input-field" required 
      #passwordInfo="ngModel" [(ngModel)]="user.password" name="password" 
      type="password"  placeholder="Password">
  
    <mat-error *ngIf="passwordInfo.errors?.required && passwordInfo.touched">
        Password Missing</mat-error>
    </mat-form-field>

    <mat-form-field color="warn" fxFlex.gt-xs="40%">
      <input matInput class="input-field" required 
      #passwordConfirmInfo="ngModel" [(ngModel)]="passwordConfirm" name="passwordConfirm" 
      type="password"  placeholder="Confirm Password">
  
    <mat-error *ngIf="passwordConfirmInfo.errors?.required && passwordConfirmInfo.touched">
        Confirm Password Missing</mat-error>
    </mat-form-field>

      <mat-form-field color="warn" fxFlex.gt-xs="40%">
        <input matInput class="input-field" required 
        #emailInfo="ngModel" [(ngModel)]="user.email" name="email" 
        type="email"  placeholder="Email">
    
      <mat-error *ngIf="emailInfo.errors?.required && emailInfo.touched">
          Email Missing</mat-error>
      </mat-form-field>

      <mat-form-field color="warn" fxFlex.gt-xs="40%">
        <input matInput class="input-field" required 
        #phoneInfo="ngModel" [(ngModel)]="user.phone" name="phone" 
        type="tel"  placeholder="Phone">
    
      <mat-error *ngIf="phoneInfo.errors?.required && phoneInfo.touched">
        Phone Missing</mat-error>
      </mat-form-field>
      <button mat-raised-button color="warn" fxFlex.gt-xs="40%" class="submitFormBtn"
      [disabled]="formInfo.form.invalid" (click)="userRegisterSubmitForm()">
        Register
      </button>
      <a fxFlex.gt-xs="100%" fxLayoutAlign.gt-xs="center"  class="loginLink" routerLink="/login">click her to login</a>

  </form>
</div>