
.product-card{
    background-color: #E1F5FE;
    color:#000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Oswald', sans-serif;
    margin-bottom:10px;
}

.product-card-content{
    color: #212121;
}
.product-img{
    height: 220px;
}

.product-name{
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 700;
    font-size:1.6rem;

}
.product-category{
    font-weight: 700;
    font-size:1.1rem;
}
.mat-icon-div{
    display:flex;
    align-items: center;
}
.product-call-div-btn{
    display: flex;
    justify-content: center;
}
.product-call-btn{
    background: #80D8FF;
}
.product-call-btn a {
    text-decoration: none;
    color: #00B0FF;
}
.mat-icon-call-user{
    color:#0D47A1;
    margin-right: 5px;
}

@media only screen and (min-width: 2560px) {
    .product-card *{
        font-size: 1.8rem;
    }
    .product-img{
        height: 320px;
    }
    .mat-icon-div .map-icon{
        display:none;
    }
    .product-call-btn{
        padding:1.2rem;
    }

  }