
app-products-nav-phone {
    position: fixed;
    z-index: 100;
    right: 0;
    background-color:#1976D2;
    width:100%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
