
  <nav mat-tab-nav-bar *ngIf="isUserLogin$|async">
    <a mat-tab-link (click)="logout()">Logout</a>
    <a mat-tab-link routerLink='/user/products'>User Products</a>
    <a mat-tab-link routerLink='/user/add-product'>User Add Products</a>
    <a mat-tab-link routerLink='/products/all-products'>All Products</a>
    <a mat-tab-link routerLink='/user/delete-product'>User Delete Products</a>
    <a mat-tab-link routerLink='/user/update-product'>User Update Products</a>
  <span *ngIf="user">{{user.userName}}</span>
  </nav>