<div *ngIf="(products$|async) as products; else productLodding"> 
  <div *ngIf="products.length > 0; else notFoundMessage" class="example-container">
 
<mat-table class="table" [dataSource]="products">
  <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="location"> {{element.location}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="quantities">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantities </mat-header-cell>
      <mat-cell  *matCellDef="let element" data-label="quantities"> {{element.quantities}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell  *matCellDef="let element"  data-label="price"> {{element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Details </mat-header-cell>
      <mat-cell class="details-td" *matCellDef="let element"  data-label="details"> {{element.details}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="image"> 
        <img src="{{element.img.url}}" width="100%">     
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="category"> {{element.category.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element"   data-label="delete" fxLayoutAlign.gt-xs="center center"
      >
        <i class="material-icons" fxLayoutAlign="center center" fxLayoutAlign.xs="end"
        (click)="deleteProduct(element._id)">
        delete_forever
        </i> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
  </mat-table>
</div>
</div>
  <ng-template #notFoundMessage >
    <h1>Products Not Found</h1>
    </ng-template>
  <ng-template #productLodding >
    <h1>Products Lodding</h1>
    </ng-template>