
.menu-container{
    background-color:#00B0FF !important;
}
button{
    background:#00B0FF;
}
.menu-btn{
    background:#1976D2;
}
a{
    color:#ffffff;
    text-decoration:none;
    background:#00B0FF;
}
span{
    color:#ffffff;
    font-family: 'Bowlby One SC', cursive;
    margin-left: 10px;
}
.mat-icon{
    color:#ffffff;
}

