<div class="backgroun-img"></div>
<div class="form-container">
<form #formInfo="ngForm" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <mat-icon   class="logoIconFirstIcon">bubble_chart</mat-icon>
  </div>

  <h1 class="logInH1">LOG IN</h1>

  <div class="div-inputs-and-sub-button" fxLayout="column">
    <mat-form-field>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput class="input-field" required 
      #userNameInfo="ngModel" [(ngModel)]="user.userName" name="userName" 
      type="text"  placeholder="Username">

    <mat-error *ngIf="userNameInfo.errors?.required && userNameInfo.touched">
       User Name Missing</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>https</mat-icon>
      <input matInput class="input-field" required 
      #passwordInfo="ngModel" [(ngModel)]="user.password" name="password" 
      type="password"  placeholder="Password">
  
    <mat-error *ngIf="passwordInfo.errors?.required && passwordInfo.touched">
        Password Missing</mat-error>
    </mat-form-field>
      <a class="registerLink" routerLink="/register">register</a>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" class="submitFormBtn" 
      [disabled]="formInfo.form.invalid" (click)="userSubmitLoginForm()">
        Login
      </button>
    </div>
  </div>

 
  </form>
</div>
