.form-continer{
    height: 100vh;
    width:100%;
}
form{
background: linear-gradient(to bottom, #0066ff 0%, #66ccff 99%);
border-radius: 5px;
margin:15px;
height: 100vh;


}
.logInH1{
    font-size: 1.8rem;
}

.logoIconFirstIcon{
    background-color: #ffffff;
    color: black;
    padding:2.1rem;
    border-radius: 50%;
    box-sizing: content-box;

}
.registerLink{
    text-decoration: none;
    display: inline-block;
    color:#ffffff;
    font-size: 1.3rem;
    font-weight:600;
    margin-bottom: 10px;
    cursor: pointer;

}

Try that

::ng-deep .registerLink{
    cursor: pointer !important; 
    z-index: 500;
}
.submitFormBtn{
    display: block;
}
.submitFormBtn{
    z-index:100;
    cursor: not-allowed;
}
