.example-container {
  display: flex;
  flex-direction: column;
}

.details-td{
  word-break: break-all;
  overflow-y: auto;
}
.mat-table .mat-cell{
  padding: 0 !important;
}

@media screen and (max-width: 600px) {

  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: -45px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    padding-left: 0;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .90em;
    vertical-align: middle;

  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

}