  <div *ngIf="products">
  <div *ngIf="products[0] != undefined; else notFoundMessage">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index" data-label="name"> 
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
      <input matInput  type="text" minlength="6" maxlength="15"  
       [ngModel]="element.name" name="name"
       [(ngModel)]="products[i].name" 
       placeholder="Product Name"
      >
    </mat-form-field>
     </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">

      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="location">
         <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>

      <input matInput   type="text" minlength="6" maxlength="15" 
      placeholder="Prodcut Location" name="location"
      [ngModel]="element.location"
      name="location"
       [(ngModel)]="products[i].location"
      >
    </mat-form-field>
         </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="quantities">
      <mat-header-cell *matHeaderCellDef> Quantities </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="quantities"> 
        <mat-form-field appearance="outline">
          <mat-label>Quantities</mat-label>

      <input matInput   type="number" min="1"
      placeholder="Product Quantities" id="quantitiesInfo"  name="quantities"
      [ngModel]="element.quantities"
      name="quantities"
       [(ngModel)]="products[i].quantities">
    </mat-form-field>       
        </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="price"> 
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>

          <input matInput   type="number" min="1"
      placeholder="Product Price" id="priceInfo"  name="price"
      [ngModel]="element.price"
      name="price"
       [(ngModel)]="products[i].price">
    </mat-form-field>       
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="details" class="details-td"> 
        <mat-form-field appearance="outline">
          <mat-label>Details</mat-label>
          <textarea matInput   type="text" minlength="6" maxlength="200" 
      placeholder="Product Details" id="detailsInfo"  name="details"
      [ngModel]="element.details"
      name="details"
       [(ngModel)]="products[i].details">
      </textarea>
    </mat-form-field>       
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" data-label="image"> 
        
        <input  type="file" (change)="onFileSelected($event, i)"
      ngModel name="img" #imgInput style="display: none;">
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayoutAlign="center">
      <button (click)="imgInput.click()"  mat-raised-button color="warn">
        Update image
      </button>      
    </div>
    <div>
        <img  *ngIf="!imgURL[i]" src="{{element.img.url}}" width="100%">   
        <img *ngIf="imgURL[i]" [src]="imgURL[i]" width="100%">  
      </div>
    </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="category">  
        
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
        <mat-select  
        type="text"  
       [ngModel]="element.category._id" name="category"
       [(ngModel)]="products[i].category._id"
       >
          <mat-option *ngFor="let c of categories$|async" [value]="c._id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" data-label="update"  fxLayoutAlign.gt-xs="center center">
          <button  (click)="updateProduct(element._id,i)" 
           mat-raised-button color="warn"
          >Update Product</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
  </mat-table>
</div>
</div>
  <ng-template #notFoundMessage >
    <h1>Products Not Found</h1>
    </ng-template>
