  <div *ngIf="products">
  <div *ngIf="products[0] != undefined; else notFoundMessage">
<table mat-table [dataSource]="products" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i=index"> 
      <mat-form-field>
      <input matInput  type="text" minlength="6" maxlength="15"  
       [ngModel]="element.name" name="name"
       [(ngModel)]="products[i].name" 
       placeholder="Product Name"
      >
    </mat-form-field>
     </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element;let i=index">
         <mat-form-field>
      <input matInput   type="text" minlength="6" maxlength="15" 
      placeholder="Prodcut Location" name="location"
      [ngModel]="element.location"
      name="location"
       [(ngModel)]="products[i].location"
      >
    </mat-form-field>
         </td>
    </ng-container>
  
    <ng-container matColumnDef="quantities">
      <th mat-header-cell *matHeaderCellDef> Quantities </th>
      <td mat-cell *matCellDef="let element;let i=index"> 
        <mat-form-field>
      <input matInput   type="number" min="1"
      placeholder="Product Quantities" id="quantitiesInfo"  name="quantities"
      [ngModel]="element.quantities"
      name="quantities"
       [(ngModel)]="products[i].quantities">
    </mat-form-field>       
        </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element;let i=index"> 
        <mat-form-field>
      <input matInput   type="number" min="1"
      placeholder="Product Price" id="priceInfo"  name="price"
      [ngModel]="element.price"
      name="price"
       [(ngModel)]="products[i].price">
    </mat-form-field>       
        </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element;let i=index"> 
        <mat-form-field>
      <textarea matInput   type="text" minlength="6" maxlength="200" 
      placeholder="Product Details" id="detailsInfo"  name="details"
      [ngModel]="element.details"
      name="details"
       [(ngModel)]="products[i].details">
      </textarea>
    </mat-form-field>       
        </td>
    </ng-container>

    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        
        <input  type="file" (change)="onFileSelected($event, i)"
      ngModel name="img">      
        <img  *ngIf="!imgURL[i]" src="{{element.img.url}}" width="50px">   
        <img *ngIf="imgURL[i]" [src]="imgURL[i]" width="50px">  
    </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element;let i=index">  
        
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select  
        type="text"  
       [ngModel]="element.category._id" name="category"
       [(ngModel)]="products[i].category._id"
       >
          <mat-option *ngFor="let c of categories$|async" [value]="c._id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        
        </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element;let i=index">
          <button  (click)="updateProduct(element._id,i)"
          >Update Product</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
  <ng-template #notFoundMessage >
    <h1>Products Not Found</h1>
    </ng-template>
